{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div id="headtitle"><h1 style="font-size: 100px; font-style: bold; color: #5a5a5a;">INPT.Connect()</h1></div>
    <div>
    	<p style="font-size: 20px;">
    		INPT.Connect() is a smart home IoT project developed by IEEE INPT student Branch.
    		<br>
			<br>The project's objective is to create a single and unique platform for IoT projects launched by students. This platform provides APIs centralizing data and facilitating access to it.
    	</p>
    </div>
{% endblock %}