{% extends "base.html" %}

{% block title %}List of captures -- Room {{ room.name }} {% endblock %}

{% block content %}
    <h3>List of captures for room {{ room.name }}</h3>
    <input type="text" id="myInput" onkeyup="search()" placeholder="Search for types.." title="Type in a type">
    <table id="myTable">
    	<tr class="header">
    		<th>Time</th>
    		<th>Type</th>
    		<th>Value</th>
    		<th>Unit</th>
    	</tr>
    	{% for capture in captures %}
    		<tr>
    			<td>{{ capture.when|date:"D d M Y" }} {{ capture.when|time:"H:i:s" }}</td>
    			<td>{{ capture.var }}</td>
    			<td>{{ capture.value }}</td>
    			<td>{{ capture.unit }}</td>
    		</tr>
    	{% endfor %}
    </table>
    <h5><a href="{% url 'home' %}">Back to home page</a></h5>
{% endblock %}