{% extends "base.html" %}

{% block title %}List of captures -- {{ room.name }} {% endblock %}

{% block content %}
    <h3>List of captures for {{ room.name }} (last 200 entries)</h3>
    <p class="tab">Plot data from this location: </p>
    <form action="/charts/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Plot">
    </form>
    <br><br>
    <input type="text" id="timeInput" onkeyup="searchTime()" placeholder="Search for dates.." title="Type in a date">
    <input type="text" id="typeInput" onkeyup="searchType()" placeholder="Search for types.." title="Type in a type">
    <table id="myTable">
    	<tr class="header">
    		<th>Time</th>
    		<th>Type</th>
    		<th>Value</th>
    		<th>Unit</th>
    	</tr>
    	{% for capture in captures %}
    		<tr>
    			<td>{{ capture.when|date:"D d M Y" }} {{ capture.when|time:"H:i:s" }}</td>
    			<td>{{ capture.var }}</td>
    			<td>{{ capture.value }}</td>
    			<td>{{ capture.unit }}</td>
    		</tr>
    	{% endfor %}
    </table>
{% endblock %}