table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h1, h2, h3 {
    font-size: 2em;
}

ul {
    list-style-type: none;
}

.hovered {
    opacity: .7;
}

a {
    text-decoration: none;
    color: #33D;
    font-size: 2em;
}